1.What are data structures, and why are they important?
Ans: Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.
It is important because :Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

2.Explain the difference between mutable and immutable data types with examples?
Ans:
Mutable data types can be modified after they are created, while immutable data types cannot. e.g.:
For mutable data types:
my_list =my_list.append(4)
    print(my_list)
    my_list = 10
    print(my_list)

For Immutable data types:
    my_string = "hello"
    my_string = 'j'  
    my_string = "jello"
    print(my_string)

3.What are the main differences between lists and tuples in Python?
Ans:
List
1. Lists are mutable(can be modified).
2	Iteration over lists is time-consuming.
3	Lists are better for performing operations, such as insertion and deletion.
4	Lists consume more memory.
5	Lists have several built-in methods.
6.Lists are more prone to unexpected changes and errors.
Tuple
1. Tuples are immutable(cannot be modified).
2. Iterations over tuple is faster
3. Tuples are more suitable for accessing elements efficiently.
4. Tuples consumes less memory
5. Tuples have fewer built-in methods.
6. Tuples, being immutable are less error prone.

4. Describe how dictionaries store data?
Ans:
Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

5. Why might you use a set instead of a list in Python?
Ans:
We use a set instead of a list in Python because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list?
Ans:
A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list). A dictionary is a more general version of a list and is made up a set of keys and values where there is a mapping between a given key and its corresponding value.

7. How do tuples ensure data integrity in Python?
Ans:
Tuples in Python are immutable, meaning once they are created, they cannot be changed. This characteristic can be leveraged for data integrity by using tuples for data that should not be modified after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
Ans:
In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

9. Can lists contain different data types in Python?
Ans:
Yes, lists in Python can contain elements of different data types. This is a key feature of Python lists, making them highly versatile for storing various kinds of information within a single collection.

10.  Explain why strings are immutable in Python?
Ans:
Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values.

11.  What advantages do dictionaries offer over lists for certain tasks?
Ans:
Dictionaries and lists are two fundamental data structures in Python, each with its unique strengths and weaknesses. Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

12. Describe a scenario where using a tuple would be preferable over a list?
Ans:
Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in Python?
Ans:
Python sets are inherently designed to store only unique elements. This means that if you attempt to add a duplicate value to a set, the set will automatically ignore the duplicate and only retain one instance of that value.

# Creating a set with duplicates
    my_list = [1, 2, 2, 3, 4, 4, 5]
    my_set = set(my_list)
    print(my_set)
    # Output: {1, 2, 3, 4, 5} (order may vary)

    # Adding a duplicate to an existing set
    my_set.add(3)
    print(my_set)
    # Output: {1, 2, 3, 4, 5} (no change, as 3 already exists)

14. How does the “in” keyword work differently for lists and dictionaries?
Ans:
The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list. The execution time of in for values() is about the same as for lists. Key-value pairs are unique.

15.  Can you modify the elements of a tuple? Explain why or why not?
Ans:No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. This immutability is a core characteristic of tuples.

16. What is a nested dictionary, and give an example of its use case?
Ans:
A nested dictionary is a dictionary where at least one of the values is itself a dictionary. It's a way to represent hierarchical or structured data within a dictionary structure. This allows you to organize and access complex information efficiently.

17. Describe the time complexity of accessing elements in a dictionary?
Ans:
Accessing elements in a dictionary (also known as a hash map or associative array) typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries use a hash table internally to store and retrieve data, and hash table lookups are generally very fast.

18. In what situations are lists preferred over dictionaries?
Ans:
For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans:
Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
Ans:
Lists in Python
In Python, a list is a built-in dynamic sized array (automatically grows and shrinks). We can store all types of items (including another list) in a list. A list may contain mixed type of items, this is possible because a list mainly stores references at contiguous locations and actual items maybe stored at different locations.

Dictionary in Python
A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

In [ ]:
#1.Write a code to create a string with your name and print it?
#Ans:

a = "Pubalee"
print(a)

Pubalee

In [ ]:
#2. Write a code to find the length of the string "Hello World"?
#Ans:
string = "hello world"
length = len(string)
print(length)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
#Ans:
original_string = "Python Programming"
sliced_string = original_string[:3]
print(sliced_string)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase?
#Ans:
original_string = "hello"
uppercase_string = original_string.upper()
print(uppercase_string)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
#Ans:
a = ["I like apple"]
a[0]=a[0].replace("apple","orange")
print(a)

['I like orange']

In [ ]:
#6.  Write a code to create a list with numbers 1 to 5 and print it?
#Ans:
r1 = 1
r2 = 6

li = list(range(r1,r2))
print(li)

[1, 2, 3, 4, 5]

In [ ]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?
#Ans:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
#Ans:
a = [1, 2, 3, 4, 5]
k = 2
del a[-k:]
print(a)

[1, 2, 3]

In [ ]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
#Ans:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].
#Ans:
a = [1, 2, 3, 4, 5]

# Reverse the list in-place
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
#Ans:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
#Ans:

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
#Ans:
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#Ans:
animals = ['dog', 'cat', 'rabbit']


index = animals.index('cat')

print(index)

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
#Ans:

thistuple = ("apple", "banana", "kiwi")
if "kiwi" in thistuple:
  print("yes")

yes

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
#Ans:
set1 = {'a','b','c'}
print(set1)

{'c', 'a', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
#Ans:
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
#Ans:

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
#Ans:
A = {1,2,3}
B = {3,4,5}
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
#Ans:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
#Ans:
d = {'name': 'Pubalee', 'age': 31, 'city': 'Guwahati'}

a = list(d.keys())

print(a)

['name', 'age', 'city']

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
#Ans:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
#Ans:
my_dict = {"name": "alice", "age": 30}
name_value = my_dict["name"]
print(name_value)

alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
#Ans:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
#Ans:

a = {'name': 'Alice', 'city': 'Paris'}

if "city" in a:
    print("Key exists.")
else:
    print("Key does not exist.")

Key exists.

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
#Ans:
a_list=["a","b","c"]
a_tuple=("a","b","c")
a_set={"a","b","c"}

print(a_list,a_tuple,a_set)

['a', 'b', 'c'] ('a', 'b', 'c') {'c', 'a', 'b'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
#Ans:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[3, 35, 69, 72, 92]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
#Ans:
a_list=["a","b","c"]
# access the third element
print('third element =', a_list[2])

third element = c

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
#Ans:
dict_a = {'a': 1, 'b': 2}
dict_b = {'b': 3, 'c': 4}

print(dict_a | dict_b)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
#30. Write a code to convert a list of strings into a set.
#Ans:
string_list = ["a", "b","c","d"]

string_set = set(string_list)

# Print the resulting set
print(string_set)

{'d', 'c', 'a', 'b'}